

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
       }  
.rowM {
    display: inline-block;
    position: relative;
    top: 6rem;
  }
  
  .MMiddleTextSection {
    position: absolute;
    left: 272px;
    text-align: center;
    top: -5px;
    word-spacing: 3px;
    font-size: 13px;
    width: 279px;
  }
  .MLeftLogoSection {
    position: absolute;
    left: 4rem;
    text-align: center;
    font-size: 15px;
    width: 182px;
    top: -6px;
    line-height: 22px;
    color: #717171;
  }
  .MRightLogoSection {
    position: absolute;
    left: 35rem;
    text-align: center;
    font-size: 15px;
    width: 259px;
    line-height: 22px;
    font-weight: 900;
    top: -8px;
    color: #717171;
  }
        
  .rowM::after {
    content: "";
     clear: both;
    display: table;
    }
    .mainlogo > img {
      width: 6rem;
      position: absolute;
      left: 10px;
    } 
.mainlogo {
position: absolute;
top: 1rem;
left: 22rem;
}
.tableM {
    position: relative;
    left: -2rem;
  }
  .MNumberSection {
    right: -13px;
    position: absolute;
    top: 14rem;
  }
  .MDateSection {
    position: relative;
    margin-right: 0;
    left: 42rem;
    top: 10.5rem;
    padding-bottom: 4rem;
  }
  #tableTitle {
    font-size: 16px !important;
    font-weight: bold;
    font-family: bnazanin !important;
  }
  .maintabl > tbody > tr, td, th {
    border: 2px solid;
  }
  .tableM > tr, th, td {
    border: none;
  }
  #details {
    position: relative;
    margin-top: -1px;
  }
  .candidatedetal {
    position: relative;
    width: 579px;
    left: 209px;
    font-family: bnazanin !important;
    line-height: 1em;
    top: 118px;
    text-align: center;
  }
  .canidataphot {
    display: inline-flex;
    position: relative;
    top: -131px;
    width: 217px;
    height: 250px;
    font-family: bnazanin !important;
    line-height: 1em;
    left: 1px;
  }
  #titletr {
    background-color: #dbd8d8;
    font-family: bnazanin !important;
  }
  span {
    font-size: 13px !important;
    font-weight: normal;
  }

  #apPhoto {
    width: 9rem !important;
    transform: rotate(-90deg) !important;
    height: 10.5rem;
    border: 1px solid black;
    padding: 50px 10px;
    margin-right: 3rem;
}
.candidateAddress {
  position: absolute;
  top: 464px !important;
  right: 11px;
  width: 400px;
  font-family: bnazanin !important;
  line-height: 1em;
  text-align: center;
}
#datafetch {
  font-size: 15px !important;
position: relative;
font-family: bnazanin !important;
line-height: 1em;
font-weight: lighter;

}
.candidatespecifications {
  position: absolute;
  top: 464px;
  right: 399px;
  width: 393px;
  font-family: bnazanin !important;
  line-height: 1em;
  text-align: center;
}
.candidaterelatives {
  position: absolute;
  top: 862px;
  width: 795px;
  font-family: bnazanin !important;
  line-height: 1em;
}
.relativedetails {
  position: absolute;
  width: 795px;
  top: 889px;
  font-family: bnazanin !important;
  text-align: center;
}
.certify {
  position: absolute;
  top: 973px;
  text-align: right;
  width: 49.5rem !important;
}
  .certytext {
    font-size: 11px !important;
    vertical-align: top;
    text-align: justify;
    top: 0 !important;
    position: relative;
    top: -22px !important;
    font-family: bnazanin !important;
    line-height: 1em;
  }
  li {
    list-style: none;
    position: relative;
    width: 757px !important;
    top: -1.9rem;
  }
  .sign {
    position: relative;
    right: 38rem;
    top: 1rem;
    font-size: 14px !important;
    font-weight: bold;
  }
  
  .signback {
    position: relative;
    left: 36rem;
    top: 1.5rem;
    font-weight: bolder;
  }
  .stamp {
    position: relative;
    right: 20rem;
    top: 2.5rem;
    font-size: 14px !important;
    font-weight: bold;
  }
  .footer {
    position: absolute;
    bottom: 38px;
    text-align: center;
    left: 12rem;
  }
  .MNumberSectionback {
    position: relative;
    top: 152px;
    left: 2.5rem;
  }
  .MDateSectionback {
    position: relative;
    left: 2.5rem;
    top: 153px;
  }
  #datafetchback {
    position: relative;
    font-size: 13.5px !important;
    font-weight: lighter;
    text-align: center;
  }
  #datafetchback2 {
    position: relative;
    font-size: 13.5px !important;
    font-weight: lighter;
    text-align: center;
  }
  .candidaterelativesback {
    position: absolute;
    top: 844px;
    width: 795px;
    left: -1px;
  }
  .certifyback {
    position: absolute;
    top: 955px;
    text-align: left;
    left: -1px;
  }
  .candidateAddressback {
    position: absolute;
    top: 439px !important;
    right: 12px;
    width: 399px;
    text-align: center;
  }
  .candidatedetalback {
    padding-top: 11px;
    text-align: center;
    position: relative;
    top: 124px;
    right: 1px;
    width: 795px;
  }
  .candidaterelativesback {
    position: absolute;
    top: 839px !important;
    width: 795px;
    left: -1px;
  }
  .candidatespecificationsback {
    position: absolute;
    top: 437px;
    right: 398px;
    width: 50%;
    font-family: calibri !important;
    text-align: center;
  }
  .relativedetailsback {
    position: absolute;
    width: 795px;
    top: 868px;
    text-align: center;
    left: -1px;
  }  
  .stampback {
    position: relative;
    top: 2.5rem;
    left: 21rem;
    font-weight: bolder;
  }  
  .img-barcode {
    position: absolute;
    top: 12rem;
    left: 2.5rem;
  }
  .phonenumberback {
    height: 30.5px !important;
    position: relative;
  }
  .phonenumberbackfrist {
    height: 28.5px !important;
    position: relative;
  }
  @media print{

    #form {
      width: 83%;
      margin: 0 auto;
  }

  }
  @font-face {
    font-family: "bnazanin";
    src: url("../fonts/bnazanin.otf") format("otf");
    }
    @font-face {
      font-family: "aboreto";
      src: url("../fonts/Aboreto-Regular.ttf") format("ttf");
      }

    #number {
      font-size: 16px !important;
      font-weight: normal;
      font-family: bnazanin !important;
      position: relative;
      right: 15px;
    }

    #heardenglish{
       font-family: aboreto !important;
       color: #717171;
       font-weight: lighter;
    }
    #of{
      font-family: aboreto !important;
      color: #717171;
       font-style: italic;
       font-size: 15px !important;
    }
    #numberback {
      font-size: 14px !important;
      position: relative;
      left: 20px;
      font-family: aboreto !important;
    }